*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
.wraper{
    width: 1425px;
    margin: 0 auto;
    
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 20px 0;

    background: rgba(255, 255, 255, 0);
}  

.header__logo {
    margin-left: 80px;
}

.menu__list{
    display: flex;
    justify-content: right;
    margin-left: 155px;
    margin-right: 40px;
}

.menu__list-item {
    margin-right: 40px;

    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #1B0A42;
}

.menu__list-item:hover {
    text-decoration: underline;
    color: #1B0A42;
}

.menu__list-item:last-child {
    margin-left: 500px;
}

.header__btn {
    width: 120px;
    height: 60px;
    border: 1px solid #4F56F1;
    border-radius: 6px;

    background-color: #4F56F1;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #FFFFFF;


}

.header__btn:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.main{
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 10px 0;

    background: rgba(255, 255, 255, 0);
}

.main__title{
    width: 495px;
    height: 150px;
    margin-bottom: 10px;

    font-family: 'Ramaraja';
    font-size: 62px;
    line-height: 76px;

    letter-spacing: 0.02em;

    color: #1B0A42;
}

.main__text{
    width: 540px;
    height: 100px;

    font-family: 'Roboto';
    font-size: 20px;
    line-height: 32px;

    letter-spacing: 0.02em;

    color: #9A9A9A;

}

.main__img{
    margin-left: 200px;
    width: 650;
    height: 600px;
}

.main__btn{
    width: 120px;
    height: 60px;
    border: 1px solid #4F56F1;
    border-radius: 6px;

    background-color: #4F56F1;

    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.main__btn:hover {
    text-decoration: underline;
    color: #FFFFFF;
}